---
import Layout from '../layouts/Default.astro'
---

<Layout title="About">
  <div class="flex justify-center">
    <div class="w-full max-w-6xl">
      <div class="px-6 py-20">
        <p class="my-6">
        </p>
      </div>
    </div>
  </div>
</Layout>