@font-face {
  font-family: "Author";
  src: url("/fonts/Author-Extralight.woff2") format("woff2"), url("/fonts/Author-Extralight.woff") format("woff"), url("/fonts/Author-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-display: fallback;
  font-style: normal;
}

@font-face {
  font-family: "Author";
  src: url("/fonts/Author-ExtralightItalic.woff2") format("woff2"), url("/fonts/Author-ExtralightItalic.woff") format("woff"), url("/fonts/Author-ExtralightItalic.ttf") format("truetype");
  font-weight: 200;
  font-display: fallback;
  font-style: italic;
}

@font-face {
  font-family: "Author";
  src: url("/fonts/Author-Light.woff2") format("woff2"), url("/fonts/Author-Light.woff") format("woff"), url("/fonts/Author-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: fallback;
  font-style: normal;
}

@font-face {
  font-family: "Author";
  src: url("/fonts/Author-LightItalic.woff2") format("woff2"), url("/fonts/Author-LightItalic.woff") format("woff"), url("/fonts/Author-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-display: fallback;
  font-style: italic;
}

@font-face {
  font-family: "Author";
  src: url("/fonts/Author-Regular.woff2") format("woff2"), url("/fonts/Author-Regular.woff") format("woff"), url("/fonts/Author-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: fallback;
  font-style: normal;
}

@font-face {
  font-family: "Author";
  src: url("/fonts/Author-Italic.woff2") format("woff2"), url("/fonts/Author-Italic.woff") format("woff"), url("/fonts/Author-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: fallback;
  font-style: italic;
}

@font-face {
  font-family: "Author";
  src: url("/fonts/Author-Medium.woff2") format("woff2"), url("/fonts/Author-Medium.woff") format("woff"), url("/fonts/Author-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: fallback;
  font-style: normal;
}

@font-face {
  font-family: "Author";
  src: url("/fonts/Author-MediumItalic.woff2") format("woff2"), url("/fonts/Author-MediumItalic.woff") format("woff"), url("/fonts/Author-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-display: fallback;
  font-style: italic;
}

@font-face {
  font-family: "Author";
  src: url("/fonts/Author-Semibold.woff2") format("woff2"), url("/fonts/Author-Semibold.woff") format("woff"), url("/fonts/Author-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: fallback;
  font-style: normal;
}

@font-face {
  font-family: "Author";
  src: url("/fonts/Author-SemiboldItalic.woff2") format("woff2"), url("/fonts/Author-SemiboldItalic.woff") format("woff"), url("/fonts/Author-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-display: fallback;
  font-style: italic;
}

@font-face {
  font-family: "Author";
  src: url("/fonts/Author-Bold.woff2") format("woff2"), url("/fonts/Author-Bold.woff") format("woff"), url("/fonts/Author-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: fallback;
  font-style: normal;
}

@font-face {
  font-family: "Author";
  src: url("/fonts/Author-BoldItalic.woff2") format("woff2"), url("/fonts/Author-BoldItalic.woff") format("woff"), url("/fonts/Author-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: fallback;
  font-style: italic;
}

@font-face {
  font-family: "Panchang";
  src: url("/fonts/Panchang-Extralight.woff2") format("woff2"), url("/fonts/Panchang-Extralight.woff") format("woff"), url("/fonts/Panchang-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Panchang";
  src: url("/fonts/Panchang-Light.woff2") format("woff2"), url("/fonts/Panchang-Light.woff") format("woff"), url("/fonts/Panchang-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Panchang";
  src: url("/fonts/Panchang-Regular.woff2") format("woff2"), url("/fonts/Panchang-Regular.woff") format("woff"), url("/fonts/Panchang-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Panchang";
  src: url("/fonts/Panchang-Medium.woff2") format("woff2"), url("/fonts/Panchang-Medium.woff") format("woff"), url("/fonts/Panchang-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Panchang";
  src: url("/fonts/Panchang-Semibold.woff2") format("woff2"), url("/fonts/Panchang-Semibold.woff") format("woff"), url("/fonts/Panchang-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Panchang";
  src: url("/fonts/Panchang-Bold.woff2") format("woff2"), url("/fonts/Panchang-Bold.woff") format("woff"), url("/fonts/Panchang-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Panchang";
  src: url("/fonts/Panchang-Extrabold.woff2") format("woff2"), url("/fonts/Panchang-Extrabold.woff") format("woff"), url("/fonts/Panchang-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
